* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.panal-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10px;
    position: relative;

    .panal {
        display: flex;
        gap: 1px;
        width: 100%;

        .bar {
            flex: auto;
            background-color: wheat;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }

    header {
        position: absolute;
        bottom: 100px;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        section {
            display: flex;
            flex-direction: column;

            label {
                color: wheat;
                font-size: 1.2rem;
                font-weight: 900;
                margin-bottom: 10px;
            }

            input {
                background-color: transparent;
                border: 3px solid gray;
                padding: 10px 20px;
                border-radius: 20px;
                color: #f5deb3;
                font-size: 1.2rem;

                &:focus {
                    outline: none;
                }
            }
        }

        .sort {
            cursor: pointer;
        }
    }
}
