* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.panal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;

    .panal {
        display: flex;
        gap: 2px;
        width: 100%;

        .bar {
            flex: auto;
            background-color: black;
        }
    }
}
